<form class='bg-light mx-4'>
    <div class='form-group'>
        <label >Họ và tên:</label>
        <input type='text' class='form-control' placeholder='Nhập họ tên' name='name' />
        <input type="text" class="form-control mt-4" id="demo">
    </div>
    <button type='submit' class='btn btn-primary' onclick="myFunction()">Submit</button>

</form>

<script>
    function myFunction() {
        document.getElementById("demo").innerHTML  = "Paragraph changed.";
    }
</script>